<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cxq.viewer.mapper.EntropyMapper" >
  <resultMap id="BaseResultMap" type="com.cxq.viewer.domain.Entropy" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="edata" property="edata" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
    id, edata
  </sql>
  <insert id="insert" parameterType="com.cxq.viewer.domain.Entropy" >
    insert into entropy (id, edata)
    values (#{id,jdbcType=VARCHAR}, #{edata,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cxq.viewer.domain.Entropy" >
    insert into entropy
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="edata != null" >
        edata,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="edata != null" >
        #{edata,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="getEntropy" resultMap="BaseResultMap" parameterType="java.lang.String">
  select
  <include refid="Base_Column_List"/>
  from entropy

  where id = #{id,jdbcType=NVARCHAR}
  </select>

  <update id="updateEntropy" parameterType="com.cxq.viewer.domain.Entropy">
    update entropy
    <set>
      <if test="edata != null">
        edata = #{edata,jdbcType=VARCHAR},
      </if>


    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>